* {
  margin: 0;
  padding: 0;
}

body {
  background: #DFDFEF;
  font-family: 'Helvetica Neue';
  font-size: 10px;
  color: #414141;
  font-size: 1.5em;
  line-height: 2em;
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 1350px;
  height: 1350px;
  overflow: scroll;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container.active {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 1;
}

.chat-container.hidechat {
  transform: translateX(-10%);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

p {
  margin: 0;
}

.bubble {
  float: left;
  width: auto;
  max-width: 70%;
  position: relative;
  clear: both;
  background:#008B8B;
  padding: 0.5em 1em;
  background: #008B8B;
  border-radius: 3px;
  box-shadow: 0 5px 30px bisque;
  margin-bottom: 10px;
  color:whitesmoke;
  word-wrap: break-word;
  font-size: 1em;
  margin-top: 30px;
  opacity: 0;
}

.bubble-alt {
  float: right;
}


.datestamp {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: black;
  float: left;
  opacity: 0;
}

.dt-alt {
  float: right;
}

.chat-control {
  padding: 1.2em;
  margin-top: 495px;
}

.chat-input {
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
  padding: 0.7em;
}

.chat-input:focus {
  border: none;
}

.chat-header {
  background:  #008B8B;
  padding: 0.5em;
  padding-bottom: .7em;
  text-align: left;
}

.chat-header span {
  font-size: 12px;
  position: absolute;
  margin: 47px -50px;
  font-style: italic;
}

.user-profile {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  background: #DFDFEF;
  margin: 0 10px;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer
}

.user-profile:nth-child(1) {
  background-image: url(http://vignette3.wikia.nocookie.net/fairytail/images/0/02/Mugshot_of_Erza.png/revision/latest?cb=20130509171537);
}

.user-profile.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}